<section>

	<h2>Products</h2>

	<div *ngFor="let product of products; index as productId">
		<h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId+1]">{{product.name}}</a>
    </h3>
		<div>
			<p *ngIf="product.description">Description: {{ product.description }}</p>
			<div class="product-list_nav">
				<div class="product-list_nav-item">
					<button (click)="share()">Share</button>
				</div>
				<div class="product-list_nav-item">
					<app-product-alerts [product]="product" (notify)="onNotify()">Notify Me</app-product-alerts>
				</div>
			</div>
		</div>
	</div>


	<dl *ngFor="let product of products; index as i">
		<dt><a [title]="product.name + ' details'">{{i+1}} : {{product.name}}</a></dt>
		<dd *ngIf="product.description else elseBlock">
			Description: {{ product.description }}
		</dd>
		<ng-template #elseBlock>
			<dd>description not found.</dd>
		</ng-template>
	</dl>


	<ul *ngFor="let product of products; index as i">
		<li><a [title]="product.name + ' details'">{{i+1}} : {{product.name}}</a></li>
	</ul>


</section>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->