<a [routerLink]="['/']">
  <h1>Hello World!</h1>
</a>

<!-- 
  [routerLink]="['/']"
  routerLink="/"


パラメータの送り方
https://angular.io/api/router/RouterLink
https://qiita.com/ksh-fthr/items/91c85a06998314c95648

<a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" queryParamsHandling="merge">
  link to user component
</a>
-->
<a routerLink="/cart" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->